<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811824618803-d29qtatds2pecucjunoqpptjm1clukng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811824618803-d29qtatds2pecucjunoqpptjm1clukng</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811824618803-f987cdcgbcd1lhlc628np2uk438s0bsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDEmopsMQZv5Ph8NIIruHPdUiNSnYAz3B0</string>
	<key>GCM_SENDER_ID</key>
	<string>811824618803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.enterococcus.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>enterococcus1-578a0</string>
	<key>STORAGE_BUCKET</key>
	<string>enterococcus1-578a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811824618803:ios:c7d126302c2e908d003246</string>
</dict>
</plist>